*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html, body{
    height: 100%;
    width:100%;
}

body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    height: 450px;
    width: 300px;
    background-color:white ;
    border-radius: 15px;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid black;
    position: relative;
}
#storyian{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #dadada;
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#storyian::-webkit-scrollbar{
    display: none;
}

.story{
    border: 2px solid red;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;

    
}
.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position:center;
}
#fullscreen{
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    background-size: cover;
    background-position: center;
}